.commandInput {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;

  :global {
    .MuiSvgIcon-root {
      margin-right: 0.5em;
    }
  }

  .inputBase {
    flex: 1;

    &.loading {
      margin-right: 1em;
    }
  }
}
